@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/static/Inter-SemiBold.ttf.ttf');
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/static/Inter-Bold.ttf.ttf');
}